section {
  background-color: #8ab37a;
  width: 1000px;
  height: 600px;
  position: absolute;
}

.canchita {
  box-sizing: border-box;
  border: 4px solid #ffffff;
  margin: 12px 15px;
  width: 97%;
  height: 96%;
}

.arco1 {
  box-sizing: border-box;
  width: 150px;
  height: 300px;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;;
  border-right: 4px solid #ffffff;
  position: absolute;
  top: 130px;
}

.arco2 {
  box-sizing: border-box;
  width: 150px;
  height: 300px;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;;
  border-left: 4px solid #ffffff;
  position: absolute;
  top: 130px;
  right: 15px;
}
